<h1>Nouvelle partie</h1>
<div *ngIf="user$ | async as user">{{user.name}}</div>
<h2>Choisir votre difficulté</h2>
<ul>
    <li><button type="button" (click)="chooseDifficulty('easy')">Facile</button></li>
    <li><button type="button" (click)="chooseDifficulty('medium')">Moyen</button></li>
    <li><button type="button" (click)="chooseDifficulty('difficult')">Dur</button></li>
</ul>


<div class="playground" *ngIf="game$ | async as game">
    <div class="result" *ngIf="game.isFinished != 0">
        <div class="winner">{{game.isFinished == 1 ? "YOU" : game.isFinished == 2 ? "IA" : "NOBODY "}} WIN !</div>
    </div>
    
    <table *ngIf="game.constructGrid">  
        <tr *ngFor="let line of game.constructGrid; let nbLine = index">
            <td *ngFor="let column of line; let nbColumn = index" (click)="play(game.id, nbColumn)">
            <!-- <td *ngFor="let column of line; let nbColumn = index" > -->
                <span [ngClass]="{'red':game.constructGrid[nbLine][nbColumn] === '1', 'yellow':game.constructGrid[nbLine][nbColumn] === '2'}">
                    <!-- <span>{{nbLine}} : {{nbColumn}}</span> -->
                </span>
                
            </td>
        </tr>
    </table>

</div>


