td {
    width: 100px;
    height: 100px;
    background-color: aqua;
}
span {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;

    &.red {
        background-color: red;
    }
    &.yellow {
        background-color: yellow;
    }
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 730px;
    height: 647px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
}
.winner {
    font-size: 4rem;
}

.playground{
    position: relative;
}